<!-- 
Launch realsense for rtabmap

Author: shangzhouye2020@u.northwestern.edu
Date  : 14 Oct 2020

Changelog:
	shangzhou - 14/10 - Initial commit 
-->

<launch>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="align_depth" value="true" />
        <arg name="unite_imu_method" value="linear_interpolation" />
        <arg name="enable_gyro" value="true" />
        <arg name="enable_accel" value="true" />
    </include>

</launch>