<launch>
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="points2scan" >
        <remap from="cloud_in" to="velodyne_points"/>
        <remap from="scan" to="front/scan"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base2velodyne" args="0 0 0.3 0 0 0 /base_link /velodyne 100"/>
    <node pkg="tf" type="static_transform_publisher" name="velodyne2front_laser" args="0 0 0 0 0 0 /velodyne /front_laser 100"/>

</launch>
