<launch>
    <rosparam command="load" file="$(find rgbd_object_detection)/config/realsense.yaml" />

    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find rgbd_object_detection)/rviz/run_object_detection.rviz"/>
    
    <node name="run_object_detection" pkg="rgbd_object_detection" type="run_object_detection" output="screen"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="camera2color_optical" args="-0.001 0.015 -0.000 -1.572 -0.002 -1.571 camera_link camera_color_optical_frame 100"/>
    <node pkg="tf" type="static_transform_publisher" name="camera2depth_optical" args="0.000 0.000 0.000 -1.571 -0.000 -1.571 camera_link camera_depth_optical_frame 100"/> -->

    <!-- Adjusted extrinsic from lidar to camera_link -->
    <node pkg="tf" type="static_transform_publisher" name="velodyne2camera" args="-0.15 0 0.95 0 0.349066 0 velodyne camera_link 100"/>




</launch>